.heading {
  margin-top: 40px;
  margin-bottom: 30px;
  padding-left: 25px;
  font-size: 24px;
}

.image {
  margin-top: 25px;
  margin-left: 0px;
}

.image-2 {
  margin-right: 0px;
  padding-right: 0px;
}

.paragraph {
  margin-right: 5%;
  margin-left: 5%;
  font-size: 20px;
  line-height: 30px;
}

.cast-names {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}

.character {
  margin-top: 5px;
  margin-left: 20px;
}

.column {
  padding-left: 0px;
}

.section {
  margin: 0px 5%;
}

.text-block {
  margin-top: -25px;
  margin-bottom: 30px;
  margin-left: 0%;
  padding-top: 0px;
  float: right;
}

.text-span {
  position: static;
  float: none;
  font-size: 30px;
  text-align: left;
}

.text-span-2 {
  float: right;
  color: #2689d6;
  font-size: 16px;
  font-weight: 600;
}

.text-block-2 {
  margin: 16px 20% 15px;
  font-size: 18px;
  text-align: center;
}

.container {
  border: 1px solid #000;
}

.text-block-3 {
  font-size: 18px;
  font-weight: 700;
  text-align: right;
}

.text-block4 {
  font-size: 18px;
  text-align: left;
}

.row {
  margin-top: 40px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

h3 {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 30px;
  margin-top: 20px;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}

.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.w-row:before,
.w-row:after {
  content: " ";
  display: table;
}
.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}
.w-col-1 {
  width: 8%;
}
.w-col-2 {
  width: 16%;
}
.w-col-3 {
  width: 25%;
}
.w-col-4 {
  width: 33%;
}

.w-col-6 {
  width: 50%;
}

.w-col-10 {
  width: 83%;
}
